*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-y: scroll;
    overflow-x: hidden;
}

/* User */
.main{
    background-color: white;
    border:rgb(185, 220, 255) 2px solid;
    margin-top: 20px;
    padding: 25px;
    text-align: center;
}